/****** Script for SelectTopNRows command from SSMS  ******/
SELECT CODIGO_TERCERO, NOMBRE, RAZON_SOCIAL, TELEFONO, CELULAR, DIRECCION, EMAIL, CUENTA FROM
(
	(
	SELECT T1.[CODIGO_TERCERO]
		  ,T1.[NOMBRE]
		  ,T1.[NOMBRE] AS RAZON_SOCIAL
		  ,CASE WHEN T2.TELEFONO IS NULL THEN  '0' ELSE T2.TELEFONO END AS TELEFONO
		  , '0' AS CELULAR
		  ,CASE WHEN T2.DIRECCION IS NULL THEN  '0' ELSE T2.DIRECCION END AS DIRECCION
		  ,CASE WHEN T2.EMAIL IS NULL THEN  '0' ELSE T2.EMAIL END AS EMAIL
		  ,'0' AS CUENTA
	  FROM [BASEIDEALBIKE].[dbo].[TERCERO] AS T1
	  FULL JOIN [BASEIDEALBIKE].[dbo].TERCERO_SINONIMO T2 ON T2.CODIGO_TERCERO = T1.CODIGO_TERCERO 
	  WHERE T1.ID_CLIENTE = 'S'
	)
	UNION ALL
	(
		SELECT T1.[CODIGO_TERCERO]
		  ,T1.[NOMBRE]
		  ,T1.[NOMBRE] AS RAZON_SOCIAL
		  ,CASE WHEN T2.TELEFONO IS NULL THEN  '0' ELSE T2.TELEFONO END AS TELEFONO
		  , '0' AS CELULAR
		  ,CASE WHEN T2.DIRECCION IS NULL THEN  '0' ELSE T2.DIRECCION END AS DIRECCION
		  ,CASE WHEN T2.EMAIL IS NULL THEN  '0' ELSE T2.EMAIL END AS EMAIL
		  ,'0' AS CUENTA
	  FROM [BASEIDEALBIKE2].[dbo].[TERCERO] AS T1
	  FULL JOIN [BASEIDEALBIKE2].[dbo].TERCERO_SINONIMO T2 ON T2.CODIGO_TERCERO = T1.CODIGO_TERCERO 
	  WHERE T1.ID_CLIENTE = 'S'
	)
) T
