/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT CODIGO_PRODUCTO, NOMBRE, PORCENTAJE, VALOR_COMPRA, VALOR_VENTA, PRECIO_VENTA2, PRECIO_VENTA3, DEPARTAMENTO
FROM
(
(SELECT T1.[CODIGO_PRODUCTO]
      ,T1.[NOMBRE]
	  , (T3.PORC_BASE - 1) * 100 AS PORCENTAJE
      ,T1.[VALOR_COMPRA]
      ,T1.[VALOR_VENTA]
	  , 0  AS PRECIO_VENTA2
	  , 0 AS PRECIO_VENTA3
	  , T2.NOMBRE AS DEPARTAMENTO
  FROM [BASEIDEALBIKE].[dbo].[PRODUCTO] T1
  INNER JOIN [BASEIDEALBIKE].[dbo].GRUPO T2 ON T1.CODIGO_GRUPO = T2.CODIGO_GRUPO
  INNER JOIN [BASEIDEALBIKE].[dbo].IMPUESTO T3 ON T3.CODIGO_IMPUESTO = T1.IMPUESTO_VENTA
)
UNION
(SELECT T1.[CODIGO_PRODUCTO]
      ,T1.[NOMBRE]
	  , (T3.PORC_BASE - 1) * 100 AS PORCENTAJE
      ,T1.[VALOR_COMPRA]
      ,T1.[VALOR_VENTA]
	  , 0  AS PRECIO_VENTA2
	  , 0 AS PRECIO_VENTA3
	  , T2.NOMBRE AS DEPARTAMENTO
  FROM [BASEIDEALBIKE2].[dbo].[PRODUCTO] T1
  INNER JOIN [BASEIDEALBIKE2].[dbo].GRUPO T2 ON T1.CODIGO_GRUPO = T2.CODIGO_GRUPO
  INNER JOIN [BASEIDEALBIKE2].[dbo].IMPUESTO T3 ON T3.CODIGO_IMPUESTO = T1.IMPUESTO_VENTA
)
) T1